.contacts {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  min-height: 100vh;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}
.contactForm {
}
.links {
}
