.cartContainer {
  padding: 50px 20px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;

	 padding-bottom: 50px;
	 border: 1px solid rgb(234, 234, 234);
  }
}
.cart {
}
.content {
}
.leftContent {
}
.rightContent {
}
.totalPrice {
}
