.cartContainer {
  max-width: 1460px;
  height: 100vh;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;

    padding-bottom: 50px;
    border-bottom: 1px solid rgb(234, 234, 234);
    margin-bottom: 50px;
  }
}
.empty {
  font-size: 25px;
  font-weight: 500;
  line-height: 44px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 67px;
}
.rightContent {
padding: 26px 28px;

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
  }
}
.totalPrice {
}
